body {
    background-color: #cccccc;
    font-family: arial,helvetica,sans-serif;
}

.whizBangHeadline {
    font-size: 12pt;
    font-weight: bold;
}

.whizBangGame {
    font-size: 10pt;
}

label {
    font-weight: bold;
}

.error {
    color: red;
}

.errorPage {
    text-align:center;
}

.oops {
    font-size: 76pt;
}
